[init]
	defaultBranch = main

[core]
    pager = delta

; [difftool]
;     prompt = no

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictStyle = zdiff3

[delta]
    theme = ansi
    features = decorations
    navigate = true
    side-by-side = true 

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com"]
	insteadOf = https://github.com
